<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{mail_confirmation_1}">JiraRush - подтверждение почты</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{hello} + ' ' + ${user.firstName} + '.'"/>
<p th:text="#{enter_your_account}">Чтобы завершить настройку учетной записи и начать пользоваться JiraRush, подтвердите, что вы правильно указали вашу
    электронную почту.</p>
<a th:href="${confirmationUrl}" th:text="#{mail_confirmation_2}">Подтвердить почту</a>
</body>
</html>